<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
  <h2>ログイン</h2>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="ユーザ名" required><br>
    <input type="password" name="password" placeholder="パスワード" required><br>
    <button type="submit">ログイン</button>
  </form>
  <p th:if="${error}" th:text="${error}" class="error"></p>
  <p>ユーザの登録は<a href="/register">こちら</a>からでぇす</p>
</div>
</body>
</html>
